* {
  box-sizing: border-box;
}

:root {
  --color-1:  #003de91a;  /* #242526; header backgrond color */
  --color-2: white;
  --color-3: #0084ff;
  --color-4: grey;
  --color-5: #eb4034;
  --color-6: rgba(86, 224, 52, 0.653); /* text back color sender text background color*/
  --background-color:#f8f8f8;
  --text-color:#6e6b7b;
  --btn-background:#7367f0;
  --sidebar-chat-background:#8ee5f9;
  --selected-user-backcolor:#e9edef;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--color-1);
  box-shadow: 0 10px 10px -5px;
  /* border-bottom: 1px solid var(--color-6); */
  
}
nav a {
  color: var(--text-color);
  text-decoration: none;
}
nav div a {
  margin-right: 20px;
}

section {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 1px 2px 10px var(--color-4);
  padding: 10px 20px;
  border-radius: 5px;
}
section h3 {
  text-align: center;
  font-size: 20px;
  color: var(--color-4);
}
/* Register */
section .form {
  margin-top: 30px;
  padding: 0px 20px;
}
.input_container {
  margin-top: 20px;
}
.input_container input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--color-3);
  border-radius: 5px;
}
.btn_container {
  margin: 10px 0px;
  text-align: center;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-4);
  background: var(--btn-background);
  color: var(--color-2);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 16px;
}
.btn:hover {
  transform: scale(1.05);
}
.error {
  text-align: center;
  color: var(--color-5);
}

/* Profile */
.profile_container {
  display: flex;
  align-items: center;
}
.img_container {
  position: relative;
  margin-right: 20px;
}
.img_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
  transition: 0.5s ease-in-out all;
}
.img_container:hover img {
  opacity: 0.4;
}
.img_container:hover .overlay {
  opacity: 1;
}
.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text_container {
  flex-grow: 1;
}
.text_container h3 {
  text-align: left;
}

.home_container {
  position: relative;
  display: grid;
  grid-template-columns: 1.4fr 4fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;

}
.users_container {
  margin-top: 2px;
  overflow-y: auto;
  background-color: var(--color-1);
  box-shadow: 0 19px 10px 3px;

}

  /* new chating  head notifiction  chagroup */
.user-chat-head{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
font-size: 22px;
color:var(--text-color);
font-weight: 900;
background-color: var(--sidebar-chat-background);
padding-left: 12%!important;
padding-right: 12%!important;
}
.user-chat-head button{
border: none;
background-color: transparent;
}
.user-chat-head button:hover{
  border: none;
  background-color: transparent;
  color:var(--background-color);
  font-size: 23px;
  }
.user-search-dropdown-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-search-dropdown-container select{

  width: 100%;
}
 /* new chating  head notifiction  group */
.add-group-memeber-section
{
  position: relative;
  margin-left: 10px;
  height: 400px;
  width: 120%;
  margin-top: 10%;
  z-index: 102;
  bottom: 110px;
  right: 40px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
/* .add-group-memeber-section button{

  border-radius: 50%;
	width:30px;
	height:30px;
	background-color:#f8f8f8;
	color:var(--btn-background);
	border-radius:50px;
	text-align:center;
  font-size:20px;
	box-shadow: 2px 2px 3px #999;
  border:none;
}

.add-group-memeber-section button:hover{
  
  border-radius: 50%;
	width:35px;
	height:35px;
	background-color:#f8f8f8;
	color:var(--btn-background);
	border-radius:50px;
	text-align:center;
  font-size:20px;
	box-shadow: 2px 2px 3px #999;
  border:none;

} */

.group-search-form{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-search-form input{
  color: (--btn-background);
  width: 100%;
  padding: 5px;
  outline: none;
  border: 1.5px solid rgba(50, 50, 93, 0.25);
  border-radius: 1px;
  text-align: center;
}

.add-chat-memeber-button
{
  border-radius: 50%;
  position:fixed;
  bottom:60px;
	right:40px;
	width:40px;
	height:40px;
	background-color:var(--btn-background);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  border:none;
}
.add-chat-memeber-button:hover
{
  position:fixed;
  bottom:60px;
	right:40px;
  border-radius: 50%;
	width:45px;
	height:45px;
	background-color:var(--btn-background);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 10px #999;
  z-index:100;
  
}
.user_wrapper {
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: medium!important;
  background-color: var(--background-color);
  /* box-shadow: 2.5px 2.5px 10px; */
}
.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_detail {
  display: flex;
  align-items: center;
}
.user_detail h6 {
  margin-left: 10px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
}
.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: #34eb52;
}
.offline {
  background: var(--color-5);
}
.messages_container {
  position: relative;
  width: 100%;
}
.messages_user {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--color-6);
}
.no_conv {
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
}
.message_form {
  position: absolute;
  bottom: 0;
  left: auto;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.message_form input {
  width: 65vw;
  margin: 0px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form .btn {
  margin-top: -10px;
}
.messages {
  height: calc(100vh - 200px);
  overflow-y: auto;
  border-bottom: 1px solid var(--color-6);
}
.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;
}
.message_wrapper img {
  width: 100%;
  border-radius: 5px;
}
.message_wrapper p {
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 5px;
}
.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}
.message_wrapper.own {
  text-align: right;
}
.me {
  background: var(--color-3);
  color: white;
}
.friend {
  background: var(--color-6);
}
.selected_user {
  background: var(--selected-user-backcolor);
}
.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: -15px;
}
.truncate strong {
  margin-right: 10px;
}
.unread {
  margin-left: 10px;
  background: var(--color-3);
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}
.sm_screen {
  display: none;
}

@media screen and (max-width: 1024px) {
  .message_form input {
    width: 60vw;
  }

}
@media screen and (max-width: 767px) {
  .home_container {
    grid-template-columns: 2fr 3fr;
  }
  .message_form {
    left: 3%;
    right: 0;
    bottom: 5px;
  }
  .message_wrapper p {
    max-width: 75%;
  }
  .message_form input {
  width: 50vw;
}
}

@media screen and (max-width: 576px) {
  .home_container {
    grid-template-columns: 1fr 5fr;
  }
  .user_wrapper {
    display: none;
  }
  .sm_container {
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .sm_screen {
    display: inline-block;
  }
  .message_form input {
    width: 50vw;
    margin: 0px 10px;
  }
  .message_form .btn {
    margin: 0px;
  }

  .message_wrapper p {
    max-width: 100%;
  }
}
